.faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;

}

.faq-content{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}

.faq-question {
    font-style: italic;
    font-size: 1.5rem;
    color: black;
}

.faq-answer {
    font-size: 1.2rem;
}


@media screen and (max-width: 650px){
    .faq-content{
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }
}